asp_net_boilerplate/bin/*
asp_net_boilerplate/obj/*
asp_net_boilerplate/Upload/*
.vs/asp_net_boilerplate/v14/.suo
.vs/asp_net_boilerplate/v12/.suo
.vs/asp_net_boilerplate/v16/.suo
asp_net_boilerplate/assets/image/svg/static/TEJ
packages/*
.suo
.vs/