@model asp_net_boilerplate.Models.AssetModel
@{
    ViewBag.Title = "Home Page";
    int no = 1;
}

@section page_style
{
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/autoComplete-vanilla/auto-complete.css" rel="stylesheet" />
}

<h1>Master Asset</h1>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-6">
        <form action="#" id="filterData" method="get">
            <label for="tag_number">Search : </label>
            <input type="text" name="tag_number" id="tag_number" placeholder="Input by Tag Number" />
            <input type="submit" value="Search" />
        </form>
    </div>
    <div class="col-md-6">
        <input type="button" onclick="AddData()" value="Add Data" style="float: right;" />
    </div>
    <div class="col-md-12">
        <div class="table-responsive" style="margin-top: 10px;">
            <table class="table table-bordered table-striped" id="equipmentTable">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Equipment</th>
                        <th>Tag Number</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Object Type</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script src="~/Content/autoComplete-vanilla/auto-complete.min.js"></script>

    @Html.Partial("~/Views/Asset/Scripts.cshtml", Model.tag_number_list)
}